<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

    <link th:href="@{/css/write/class.css}" rel="stylesheet">

<!-- ck에디터 -->
<!-- https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/installation.html -->
<!-- https://cdn.ckeditor.com/#ckeditor5 -->
<!--    이미지업로드구현-->
<!--    https://jjong-factory.tistory.com/55-->
       <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
<!--    <script th:src="@{/js/ckeditor-full.js}"></script>-->
<!--    <script th:src="@{/js/ckeditor.js}"></script>-->
    <script th:src="@{/js/ko.js}"></script>

</head>

<main layout:fragment="content">
    <div id="container">

        <div id="writeContainer" style="width:680px;margin:auto;">

            <form action="/api/main" method="post">

            <div class="row">
                <select name="category" id="category" class="col-auto p-0" aria-label="Default select example">
                    <option selected>카테고리</option>
                    <option value="1">공지</option>
                    <option value="2">일정</option>
                    <option value="3">결과</option>
                    <option value="4">밤사이결과</option>
                    <option value="5">이슈</option>
                </select>
                <input name="title" id="title" class="col w-100" type="text" placeholder="제목" required><br>
            </div>

            <textarea name="content" id="writeContent"></textarea>
        <script>
        ClassicEditor
            .create( document.querySelector( '#writeContent' ), {
                language: 'ko' //언어설정
            })
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
    </script>


            <span>대표 이미지 : </span><input name="thumbnail" id="thumbnail" type="file">
            <input type="hidden" name="writer" id="writer" value="">
            <div class="row justify-content-end">
                <input type="submit" class="btn btn-sm btn-secondary col-auto" value="등록"/>
            </div>

        </form>

        </div>


    </div>
</main>

</html>