#header {
  height: 7vh;
  background: #2a6d5b;
}

#content {
  min-height: 93vh;
  background: #f1e7dd;
}

#container {
  margin: auto;
  min-width: 1080px;
  max-width: 1080px;
}

#contentContainer {
  margin: auto;
  /*min-width: 1080px;*/
  max-width: 800px;
}

#writeContainer {
    width:1080px;
    margin:auto;
}

#boardCategory {
  margin-top: 16px;
  margin-bottom: 16px;
}

#boardMain {
  margin-top: 16px;
  margin-bottom: 24px;
}

#boardPagination {
  margin-top: 24px;
  margin-bottom: 0px;
}
