<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>

<main layout:fragment="content">
    <div id="container">

        <div id="mainImageContainer" class="row d-flex gy-4 justify-content-between">

            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceNotice.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceSchedule.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceNight.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceToday.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceResultOne.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceResultTwo.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceResultThree.jpg}">
            </a>
            <a class="dummyImage" href="#">
                <img th:src="@{/img/sourceIssue.jpg}">
            </a>

        </div><!--이미지 끝-->

        <div id="boardCategory">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/" th:classappend="${category} == null ? 'active'">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{|/?${deleteCategoryUri}|(category='1')}"
                       th:classappend="${category} == 1 ? 'active'">공지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{|/?${deleteCategoryUri}|(category='2')}"
                       th:classappend="${category} == 2 ? 'active'">일정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{|/?${deleteCategoryUri}|(category='3')}"
                       th:classappend="${category} == 3 ? 'active'">결과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{|/?${deleteCategoryUri}|(category='4')}"
                       th:classappend="${category} == 4 ? 'active'">밤사이결과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{|/?${deleteCategoryUri}|(category='5')}"
                       th:classappend="${category} == 5 ? 'active'">이슈</a>
                </li>
    <!--            <li class="nav-item">-->
    <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
    <!--            </li>-->
            </ul>
        </div>

        <table id="boardMain" style="width: 100%;text-align:center;"><!--6,?,9,7,5,4.5 rem-->
            <thead>
                <tr>
                    <th style="width:5.5rem;">번호</th>
                    <th style="width:5rem;">카테고리</th>
                    <th>글제목</th>
                    <th style="width:9rem;">작성자</th>
                    <th style="width:7rem;">날짜</th>
                    <th style="width:5rem;">조회수</th>
                    <th style="width:4.5rem;">추천수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="main: ${list}">
                    <td th:text="${main.main_no}">1</td>
                    <td th:if="${main.main_category} == '1'" th:text="공지">공지</td>
                    <td th:if="${main.main_category} == '2'" th:text="일정">공지</td>
                    <td th:if="${main.main_category} == '3'" th:text="경기결과">공지</td>
                    <td th:if="${main.main_category} == '4'" th:text="밤사이결과">공지</td>
                    <td th:if="${main.main_category} == '5'" th:text="이슈">공지</td>
                    <td style="padding-left: 1.5rem;text-align:left;"><a th:text="${main.main_title}" th:href="@{/contents(main_no=${main.main_no})}">축구체크 제목 테스트</a></td>
                    <td th:text="${main.main_writer}">이민재</td>
                    <td th:text="${#temporals.format(main.main_date, 'yyyy.MM.dd')}">2022-02-22</td>
<!--                    <td th:text="${#temporals.format(main.date, 'yyyy-MM-dd HH:mm')}">2022-02-22</td>-->
                    <td th:text="${main.main_view}">222</td>
                    <td th:text="${main.main_like}">22</td>
                </tr>
            </tbody>
        </table>

        <div class="row justify-content-between">

            <form action="/" method="get" class="col font-size-6">
                <input class="" style="outline: -webkit-focus-ring-color auto 0px;background: none;border: none;vertical-align: middle;border-bottom: 1px solid hsl(30deg 100% 45%);"
                type="search" aria-label="Search"
                name="searchKeyword" id="searchKeyword">
                <input class="btn btn-sm btn-secondary" type="submit" value="검색"/>
                <select class="form-select-sm " style="vertical-align: middle;
    background: hsl(30deg 42% 91% / 0%);
    border: 1px solid hsl(0deg 0% 0% / 30%);" aria-label=".form-select-sm example"
                        name="searchType" id="searchType">
                    <option value="1" selected>제목+내용</option>
                    <option value="2">제목</option>
                    <option value="3">내용</option>
                    <option value="3">글쓴이</option>
                </select>
            </form>

        <a class="btn btn-secondary col-auto btn-sm me-1" href="/write" role="button">글쓰기</a>
        <button type="button" class="btn btn-secondary btn-sm col-auto">인기글</button>
            
        </div>

        <div id="boardPagination" class="row">
            <nav th:fragment="pagination" aria-label="...">
                <ul th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}" class="pagination pagination-sm justify-content-center">
                    <!--이전 페이지-->
                    <li th:if="${pageMaker.isPrev() == true}" class="page-item">
                        <a class="page-link" th:href="@{/?page={page}(page=${pageMaker.startPage-1 })}" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <!--페이지 반복문-->
                    <li
                            th:each="pageNum : ${#numbers.sequence(start, end)}"
                            class="page-item" th:classappend="${pageNum == pageMaker.cri.page} ? 'active'">
                        <a th:text="${pageNum}" class="page-link" th:href="@{/?page={page} (page = ${pageNum})}">1</a>
                    </li>
                    <!--다음 페이지>-->
                    <li th:if="${pageMaker.isNext() == true && pageMaker.endPage > 0}" class="page-item">
                        <a class="page-link" th:href="@{/?page={page}(page=${pageMaker.endPage+1 })}" aria-label="Next">
                            <span aria-hidden="true">다음</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
</main>

</html>