<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footballCheck.mapper.main.MainMapper">
    <insert id="write" useGeneratedKeys="true" keyProperty="main_no">
        INSERT INTO fcmain (main_category,main_title,main_content,main_writer,main_date
        , main_thumbnail_top_first, main_thumbnail_top_second, main_thumbnail_top_third, main_thumbnail_top_fourth
        , main_thumbnail_bottom_first, main_thumbnail_bottom_second, main_thumbnail_bottom_third, main_thumbnail_bottom_fourth
        )
        VALUES ( #{main_category}, #{main_title}, #{main_content}, #{main_writer}, now()
        , #{main_thumbnail_top_first}, #{main_thumbnail_top_second}, #{main_thumbnail_top_third}, #{main_thumbnail_top_fourth}
        , #{main_thumbnail_bottom_first}, #{main_thumbnail_bottom_second}, #{main_thumbnail_bottom_third}, #{main_thumbnail_bottom_fourth}
        )
    </insert>

    <select id="getList" parameterType="hashmap" resultType="com.footballCheck.domain.main.MainDTO">
        <![CDATA[
        SELECT
            *
        FROM
            fcmain
        ]]>
        <if test="searchType != null or category != null">
            <![CDATA[
        WHERE
        main_no > 0
            ]]>
        </if>
        <choose>
            <when test="searchType == 1">
                AND
                    (main_title LIKE CONCAT('%', #{searchKeyword}, '%')
                OR
                    main_content LIKE CONCAT('%', #{searchKeyword}, '%'))
            </when>
            <when test="searchType == 2">
                AND
                    main_title LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchType == 3">
                AND
                    main_content LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchType == 4">
                AND
                    main_writer LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
        </choose>
        <choose>
            <when test="category == 1">
                AND
                    main_category = 1
            </when>
            <when test="category == 2">
                AND
                    main_category = 2
            </when>
            <when test="category == 3">
                AND
                    main_category = 3
            </when>
            <when test="category == 4">
                AND
                    main_category = 4
            </when>
        </choose>
        <![CDATA[
        ORDER BY
            main_no DESC
        LIMIT
            #{Criteria.pageStart}, #{Criteria.perPageNum}
        ]]>
    </select>

    <select id="countList" resultType="Integer">
        <![CDATA[
        SELECT
            count(*)
        FROM
            fcmain
    ]]>
    </select>

    <select id="getContent" parameterType="int" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
            *
        FROM    fcmain
        WHERE   main_no = #{main_no}
    </select>

    <select id="getPrev" resultType="Integer">
        SELECT
            main_no
        FROM
            fcmain
        WHERE
            <![CDATA[main_no < #{main_no}]]>
        ORDER BY
            main_no DESC
        LIMIT
            1
    </select>

    <select id="getNext" resultType="Integer">
        SELECT
            main_no
        FROM
            fcmain
        WHERE
            <![CDATA[main_no > #{main_no}]]>
        ORDER BY
            main_no ASC
        LIMIT
            1
    </select>

    <select id="getFirst" resultType="Integer">
        SELECT
            main_no
        FROM
            fcmain
        ORDER BY
            main_no ASC
        LIMIT
            1
    </select>

    <select id="getLast" resultType="Integer">
        SELECT
            main_no
        FROM
            fcmain
        ORDER BY
            main_no DESC
        LIMIT
            1
    </select>

    <select id="getThumbnail_top_first" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_top_first
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_top_second" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_top_second
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_top_third" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_top_third
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_top_fourth" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_top_fourth
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_bottom_first" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_bottom_first
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_bottom_second" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_bottom_second
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_bottom_third" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_bottom_third
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getThumbnail_bottom_fourth" parameterType="int" resultType="String">
        SELECT
            main_thumbnail_bottom_fourth
        FROM
            fcmain
        where
            main_no = #{main_no}
    </select>

    <select id="getRecent_Thumbnail_top_first" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
            *
        FROM
            fcmain
        where
            main_thumbnail_top_first is not null
        ORDER BY
            main_date DESC
        LIMIT
            1;
    </select>

    <select id="getRecent_Thumbnail_top_second" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_top_second is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_top_third" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_top_third is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_top_fourth" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_top_fourth is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_bottom_first" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_bottom_first is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_bottom_second" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_bottom_second is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_bottom_third" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_bottom_third is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <select id="getRecent_Thumbnail_bottom_fourth" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        *
        FROM
        fcmain
        where
        main_thumbnail_bottom_fourth is not null
        ORDER BY
        main_date DESC
        LIMIT
        1;
    </select>

    <update id="updateViewCnt">
        update fcmain set main_view = main_view + 1 where main_no = #{main_no}
    </update>

    <update id="update" parameterType="com.footballCheck.domain.main.MainDTO">
        UPDATE
            fcmain
        SET
            main_category   = IFNULL(   #{main_category},       main_category       ),
            main_title   = IFNULL(   #{main_title},       main_title       ),
            main_content   = IFNULL(   #{main_content},       main_content       ),
            main_thumbnail_top_first = IFNULL(   #{main_thumbnail_top_first},       main_thumbnail_top_first       ),
            main_thumbnail_top_second = IFNULL(   #{main_thumbnail_top_second},       main_thumbnail_top_second       ),
            main_thumbnail_top_third = IFNULL(   #{main_thumbnail_top_third},       main_thumbnail_top_third       ),
            main_thumbnail_top_fourth = IFNULL(   #{main_thumbnail_top_fourth},       main_thumbnail_top_fourth       ),
            main_thumbnail_bottom_first = IFNULL(   #{main_thumbnail_bottom_first},       main_thumbnail_bottom_first       ),
            main_thumbnail_bottom_second = IFNULL(   #{main_thumbnail_bottom_second},       main_thumbnail_bottom_second       ),
            main_thumbnail_bottom_third = IFNULL(   #{main_thumbnail_bottom_third},       main_thumbnail_bottom_third       ),
            main_thumbnail_bottom_fourth = IFNULL(   #{main_thumbnail_bottom_fourth},       main_thumbnail_bottom_fourth       )
        WHERE
            main_no = #{main_no}
    </update>

    <delete id="delete" parameterType="int">
        DELETE from fcmain
        WHERE   main_no = #{main_no}
    </delete>

</mapper>