<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footballCheck.mapper.main.MainMapper">
    <insert id="write" useGeneratedKeys="true" keyProperty="main_no">
        INSERT INTO fcmain (main_category,main_title,main_content,main_thumbnail,main_writer,main_date)
        VALUES ( #{main_category}, #{main_title}, #{main_content}, #{main_thumbnail}, #{main_writer}, now() )
    </insert>

    <select id="getList" parameterType="com.footballCheck.pagination.Criteria" resultType="com.footballCheck.domain.main.MainDTO">
        <![CDATA[
        SELECT
            main_no,
            main_category,
            main_title,
            main_content,
            main_thumbnail,
            main_writer,
            main_date,
            main_view,
            main_like,
            main_position
        FROM
            fcmain
        ORDER BY
            main_no DESC
        LIMIT
            #{pageStart}, #{perPageNum}
    ]]>
    </select>

    <select id="countList" resultType="Integer">
        <![CDATA[
        SELECT
            count(*)
        FROM
            fcmain
    ]]>
    </select>

    <select id="getContent" parameterType="int" resultType="com.footballCheck.domain.main.MainDTO">
        SELECT
        main_no,
        main_category,
        main_title,
        main_content,
        main_thumbnail,
        main_writer,
        main_date,
        main_view,
        main_like,
        main_position
        FROM    fcmain
        WHERE   main_no = #{main_no}
    </select>

    <update id="updateViewCnt">
        update fcmain set main_view = main_view + 1 where main_no = #{main_no}
    </update>

    <update id="update" parameterType="com.footballCheck.domain.main.MainDTO">
        UPDATE
            fcmain
        SET
            main_category   = IFNULL(   #{main_category},       main_category       ),
            main_title   = IFNULL(   #{main_title},       main_title       ),
            main_content   = IFNULL(   #{main_content},       main_content       ),
            main_thumbnail   = IFNULL(   #{main_thumbnail},       main_thumbnail       ),
            main_position   = IFNULL(   #{main_position},       main_position       )
        WHERE
            main_no = #{main_no}
    </update>

    <delete id="delete" parameterType="int">
        DELETE from fcmain
        WHERE   main_no = #{main_no}
    </delete>

</mapper>